.cartcontainer {
    justify-content: center;
    margin: auto;
    min-height: 420px;
    padding-top: 10px;
}

.cartpageContainer {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.cartbuttonBuy {
    display: flex;
    justify-content: end;
}

.cartsideCart {
    width: 300px;
    margin-right: 20px;
}

.cartsideCart p {
    text-align: start;
}

.cartcartContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cartemptyCartContainer {
    width: 600px;
}

.cartemptyCartImageContainer {
    position: relative;
    margin: 20px 0px;
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
}

.cartemptyCartImageContainer img {
    left: -15px !important;
}

@media only screen and (max-width: 1000px) {
    .cartpageContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .cartemptyCartContainer {
        width: 100%;
    }

    .cartsideCart {
        width: 600px;
        margin: 0;
    }
}

@media only screen and (max-width: 650px) {
    .cartpageContainer {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .cartemptyCartImageContainer {
        width: 90vw;
    }
    
    .cartemptyCartImageContainer img {
        left: 0px !important;
    }
}