.cartproductCart {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 600px;
    padding-bottom: 9px;
}

.cartproductCart * {

}

.cartimageContainer {
    position: relative;
    aspect-ratio: 1/1;
    width: 140px;
    background-color: green;
}

.cartsideInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    margin-left: 5px;
}

.carttopInfo {
    display: flex;
    justify-content: space-between;
}

.carttitleInfo * {
    margin: 0;
    text-align: start;
    overflow-wrap: break-word;
}

.cartcategoryAndX {
    display: flex;
    height: min-content;
    align-items: center;
}

.cartcategoryAndX p {
    margin: 0;
    padding-right: 9px;
    text-align: end;
    overflow-wrap: break-word;
}

.cartbottomInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartsubTotalContainer {
    display: flex;
}

.cartsubTotalContainer * {
    margin: 0;
}

@media only screen and (max-width: 650px) {
    .cartproductCart {
        width: 90vw;
        width: calc(100vw - 50px);
        margin: auto;
    }
    .cartimageContainer {
        width: 24vw;
    }
    .cartsideCart {
        width: 90vw;
        width: calc(100vw - 50px);
    }
}

@media only screen and (max-width: 600px) {
    .cartproductCart {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .cartproductCart {
        width: 100%;
    }
    .cartsubTotal {
        display: none;
    }
    .carttitleInfo h4 {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .cartsideInfo {
        padding: 0 ;
    }
}

@media only screen and (max-width: 350px) {
    .cartCategoryP {
        display: none;
    }
}