.productCart {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 600px;
    padding-bottom: 9px;
    border-top: 1px solid white;
}

.imageContainer {
    position: relative;
    aspect-ratio: 1/1;
    width: 140px;
    background-color: green;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    margin-left: 5px;
}

.topInfo {
    display: flex;
    justify-content: space-between;
}

.titleInfo * {
    margin: 0;
    text-align: start;
    margin-right: 10px;
}

.categoryAndX {
    display: flex;
    height: min-content;
    align-items: center;
}

.categoryAndX p {
    margin: 0;
    padding-right: 9px;
    text-align: end;
}

.bottomInfo {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 650px) {
    .productCart {
        width: 90vw;
        width: calc(100vw - 50px);
        margin: auto;
    }
    .imageContainer {
        width: 24vw;
    }
    .sideCart {
        width: 90vw;
        width: calc(100vw - 50px);
    }
}


@media only screen and (max-width: 600px) {
    .productCart {
        width: 100%;
    }
}


@media only screen and (max-width: 500px) {
    .productCart {
        width: 100%;
    }
}