.button {
    height: 30px;
    color: #fff;
    /* font-weight: bold; */
    cursor: pointer;
    outline: none;
    background-color: #5D5D5D;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 20px;
    min-height: 41px;
    padding: 5px;
    width: 100%;
    margin-left: 10px;
}
.button:hover {
  background-color: rgb(129, 129, 129);
}
.button:active {
  top: 3px;
}