.categories {
    display: flex;
    justify-content: space-evenly;
}

.category {
    display: grid;
    align-items: center;
    position: relative;
    height: 444px;
    width: 280px;
}

.categoryTitle {
    position: relative;
    color: black;
    padding: 20px;
    font-size:  large;
    background-color: grey;
    margin: 0px;
}