.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
}

.categoryContainer {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid var(--color-pinky);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--color-pinky);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.categoryContainer:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--color-pinky);
    z-index: -1;
} 

.categoryContainer:hover, .categoryContainer:focus {
  color: white;
}

.categoryContainer:hover:before, .categoryContainer:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.categoryContainer:active {
  transform: scale(0.98);
}

@media only screen and (max-width: 950px) {
    .categoryContainer {
        width: min-content;
    }
}

@media only screen and (max-width: 400px) {
    .categoryContainer {
        padding: 0.5em 1.3em;
    }
}

@media only screen and (max-width: 300px) {
    .categoryContainer {
        padding: 0.3em 1em;
        letter-spacing: 1px;
    }

}