.categories {
    display: flex;
    justify-content: space-evenly;
}

.category {
    width: min-content;
}

.categoryTitle {
    position: relative;
    color: green; 
    background-color: grey;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
}