.header {
    border-bottom: 2px solid #ececec;

    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
    align-items: center;
}

.ul {
    display: flex;
    list-style: none;
}

.ul li {
    padding-left: 15px;
}