.tobuysetAmount {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 35px;
    max-width: 130px;
    background-color: var(--color-third);
    border: 2px solid var(--color-fourth);
    border-radius: 20px;
    padding: 5px;
}

.tobuysetAmountContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.tobuysetAmount p {
    margin: 0 auto;
    min-width: 25px;
}

.tobuysetAmount {
    display: flex;
    justify-content: center;

}

.tobuysetAmount span {
	font-weight: bold;
    font-size: larger;
    cursor: pointer;
    padding: 0px 10px
}

.tobuyamountButtonLeft {
    border-radius: 20px 0px 0px 20px;
    border-right: 0;
    margin-bottom: 1px;
}

.tobuyamountButtonRight {
    border-radius: 0px 20px 20px 0px;
    border-left: 0;
}

@media only screen and (max-width: 400px) {
    .tobuysetAmount {
        max-width: 110px;
    }
}

@media only screen and (max-width: 320px) {
    .tobuysetAmount {
        max-width: 100px;
    }
}