.productBannerBig {
     width: 100%;
     background-color: #aaa;
     padding: 30px;
     margin: 70px 0px 40px;
}

.productBanner {
     width: 100%;
     background-color: #aaa;
     padding: 20px;
     margin-top: 10px;
     margin-bottom: 50px;
}

.productBannerTitle {
     text-shadow: 1px 2px 0px #a10000;
}

.productBannerText {
     font-size: larger;
     text-shadow: 1px 1px 0px #a10000;
}

@media only screen and (max-width: 768px) {
     .productBannerTitle {
          font-size: 30px;
     }
     .productBanner {
          margin-top: 25px;
          margin-bottom: 45px;
     }
}