.slider {
    display: flex;
}

.sliderContainer {
    overflow: hidden;
    width: 100%;
}

.sliderElement {
    position: relative;
    min-width: 100vw;
    height: 300px;
    border: 1px solid green;
}