.slidslider {
    display: flex;
}

.slidsliderContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.slidsliderElement {
    position: relative;
    min-width: 100vw;
    aspect-ratio: 3/1;
}

.slidsliderButtons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slidbutton {
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    top: 0px;
    background-color: var(--color-fourth);
}

.slidbuttonLeft {
    margin-left: 30px;
}

.slidbuttonRight {
    margin-right: 30px;
}

.slidindexDots {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 30px;
}

.sliddot {
    background-color: var(--color-primary);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: background-color 0.7s;
    margin: 3px;
}

.slidactive {
    background-color: var(--color-fourth);
}

@media only screen and (max-width: 740px) {
    .slidsliderElement {
        aspect-ratio: 2/1;
        height: 100%;
    }
    .slidsliderContainer {
        object-fit: contain;   
    }

    .slidbutton {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    
    .sliddot {
        width: 14px;
        height: 14px;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 450px) {
    .slidsliderElement {
        aspect-ratio: 4/3;
    }
    .slidsliderContainer {
        object-fit: contain;   
    }
}

@media only screen and (max-width: 410px) {
    .slidbuttonRight {
        border-radius: 20px 0px 0px 20px;
        margin: 0;
    }

    .slidbuttonLeft {
        border-radius: 0px 20px 20px 0px;
        margin: 0;
    }

    .slidbutton {
        width: 40px;
        height: 40px;
    }
}