.productoarticle {
    max-width: 950px;
}

.productocontainerImage {
    position: relative;
    aspect-ratio: 1/1;
    width: 60vw;
    height: min-content;
}

.productocontainerPoduct {
    display: flex;
}

.productosideInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    width: 100%;
}
.productosideInfo h5 {
    text-align: start;
    font-size: medium;
    margin: 0;
    width: 75%;
}

.productotitleProduct {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.productotitleProduct * {
    text-align: start;
    margin: 0px;
}

.productotitleProduct a {
    padding-top: 5px
}

.productobuttonAddToCart {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.productocontainerDescription {
    text-align: start;
    height: min-content;
}

.productocontainerDescription * {
    margin: 0;
    margin-top: 15px;
}

.productobuttonAddToCart button {
    margin-bottom: 15px;
}

.productocontainerMoreDescription {
    display: flex;
    text-align: start;
    padding-top: 20px;
}


.productocontainerDescription h3 {
    margin-top: 0;
}

@media only screen and (max-width: 950px) {
    .productosideInfo h4 {
        margin: 10px 0px
    }
}