.productoarticle {
    max-width: 950px;
}

.productocontainerImage {
    position: relative;
    aspect-ratio: 1/1;
    width: 50vw;
    height: min-content;
}

.productocontainerPoduct {
    display: flex;
}

.productosideInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    width: 100%;
}
.productosideInfo h5 {
    text-align: start;
    font-size: medium;
    margin: 0;
    width: 75%;
}

.productotitleProduct {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.productotitleProduct * {
    text-align: start;
    margin: 0px;
}

.productotitleProduct a {
    padding-top: 5px
}

.productobuttonAddToCart {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 10px 0px;
    justify-content: space-between;
}

.productocontainerDescription {
    text-align: start;
    height: min-content;
}

.productocontainerDescription * {
    margin: 0;
    margin-top: 15px;
}

.productocontainerDescription p {
    max-width: 450px;
}

.productocontainerMoreDescription {
    display: flex;
    text-align: start;
    padding-top: 20px;
}


.productocontainerDescription h3 {
    margin-top: 0;
}


@media only screen and (max-width: 1100px) {
    .productocontainerImage {
        width: 60vw;
    }    
}

@media only screen and (max-width: 950px) {
    .productosideInfo h4 {
        margin: 10px 0px
    }
}

@media only screen and (max-width: 900px) {
    .productosideInfo {
        margin-left: 15px;
    }
}


@media only screen and (max-width: 768px) {
    .productosideInfo {
        margin-left: 0px;
    }
    .productocontainerPoduct {
        flex-direction: column;
        align-items: center;
        width: 450px;
    }
    .productocontainerImage {
        margin-bottom: 25px;
        width: 100%;
    }
    .productotitleProduct {
        flex-direction: column;
    }
    .productotitleProduct a {
        width: min-content;
        white-space: nowrap;
    }
    .productocontainerMoreDescription {
        flex-direction: column;
        width: 450px;
        padding-top: 5px;
        gap: 10px;
    }
}