.article {
    padding: 40px;
    padding-top: 0px;
    padding-right: 70px;
}

.containerImage {
    position: relative;
    min-width: 300px;
    height: 300px;
}

.containerPoduct {
    display: flex;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    width: 100%;
}
.sideInfo h5 {
    text-align: start;
    font-size: medium;
    margin: 0;
    width: 75%;
}

.titleProduct {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titleProduct * {
    text-align: start;
    margin: 0px;
}



.buttonAddToCart {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.buttonAddToCart button {
    margin-bottom: 15px;
}

