.sh-carousel {
     height: 100%;
     cursor: pointer
}

.f-button {
     color: var(--color-pinky);
     background-color: rgb(255, 255, 255, 0.2);
     border-radius: 50%;
     padding: 10px;
     margin: 20px;
}

.f-button:hover {
     background-color: rgb(255, 255, 255, 0.5) !important;
     color: var(--color-pinky) !important;
}

.sh-slide {
     height: 100%;
}

.sh-imageContainer {
     object-fit: cover;
}


.f-carousel__dots li {
     width: min-content !important;
}

.is-next {
     border-radius: 20px 0px 0px 20px;
     margin: 0;
     right: 0 !important;
     width: 30px;
     height: 30px;
}

.is-prev {
    border-radius: 0px 20px 20px 0px;
    margin: 0;
    left: 0 !important;
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 450px) {
     .is-prev {
         width: 26px;
         height: 26px;
     }
     .is-next {
          width: 26px;
          height: 26px;
     }
}