.card {
    background-color: #222222;
    margin: 10px 30px;
}

.card:hover {
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ebebeb;
}

.title * {
    margin: 2px;
}