.card {
    background-color: #222222;
    margin-bottom: 20px;
    width: 200px;
}

.card:hover {
    cursor: pointer;
}

.imageContainer{
    position: relative;
    width: 198px;
    height: 198px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ebebeb;
}

.title * {
    margin: 2px;
}

.title h3 {
}