.prccard {
    background-color: var(--color-fifth);
    margin-bottom: 40px;
    width: 200px;
    border: 1px solid rgb(229, 229, 229, 0.1);
    border-radius: 12px;
    height: min-content;
    height: calc(min-content - 20px);
    transition: margin 0.3s, padding 0.3s;
}

.prccard:hover {
    cursor: pointer;
}

.prcimageContainer{
    position: relative;
    width: 198px;
    height: 198px;
    border-radius: 12px;
}

.prcimageContainer img {
    border-radius: 11px 11px 0px 0px;
    border: 1px solid rgb(229, 229, 229, 0.1);
}

.prctitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ebebeb;
}

.prctitle * {
    margin: 2px;
}

.prcsubtitle {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 5px;
}

.prcbuttonContainer {
    position: relative;
}

.prcaddButton {
    opacity: 0; 
    position: absolute;
    width: 90%;
    left: 5%;

    transition: opacity 0.3s;

    border: none;
    border-radius: 5px;
    background-color: var(--color-pinky);
    color: white;
}

.prccard:hover {
    margin-bottom: 5px;
    padding-bottom: 35px;
}

.prccard:hover .prcaddButton{
    opacity: 1;
}

@media only screen and (max-width: 460px) {
    .prccard {
        width: 180px;
    }

    .prcimageContainer{
        width: 178px;
        height: 178px;
    }

}


@media only screen and (max-width: 400px) {
    .prccard {
        width: 160px;
    }
    .prcimageContainer{
        width: 158px;
        height: 158px;
    }

}


@media only screen and (max-width: 345px) {
    .prccard {
        width: 220px;
    }
    .prcimageContainer{
        width: 218px;
        height: 218px;
    }

}