.sidsideMenu {
    position: inherit;
    min-width: 300px;
    padding: 10px;
    padding-top: 40px;
    padding-right: 0px;
    border-bottom-right-radius: 30px;
    height: min-content;
}

.sidul {
    list-style: none;
    padding: 0;
}

.sidul li {
    text-align: start;
    padding: 3px;
}


/* mobile */

.sidcontainerMobileSideMenu {
    position: fixed;
    height: max-content;
    z-index: 10;
    margin-top: 50px;
}

.sidmobileSideMenu {
    position: absolute;
    left: -50px;
    cursor: pointer;


    background-color: black;
    padding-left: 50px;
    border-radius: 10px;
}

.sidtitleMobileSideMenu {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
}

.sidtitleMobileSideMenu h4 {
    margin: auto 0px;
    padding-right: 10px;
}

.sidtitleMobileSideMenu button {
    padding-left: 120px;
    background-color: black;
    border: none;
    height: 30px;
    position: absolute;
    z-index: -1;
    transition: transform .3s ease;
    border-radius:  0 10px 0 0;
}

.sidmobileSideMenu li {
    font-size:  small;
}


@media only screen and (max-width: 768px) {
    .sidsideMenu {
        position: absolute;
        width: 0;
        padding: 0;
    }

    .sidul {
        margin: 0;
        position: absolute;
        top: 26px;
        left: -100px;
        padding: 5px 30px 5px 100px;
        background-color: black;
        margin: 2px;

        width: max-content;
        transition: transform .3s ease;
        border-radius:  0 10px 10px 0;
    }
}