.sidsideMenu {
    position: inherit;
    min-width: 300px;
    padding: 10px;
    padding-top: 40px;
    padding-right: 0px;
    border-bottom-right-radius: 30px;
    height: min-content;
    left: 0;
}

.sidsideMenu h3 {
    margin: 15px 0px;
}

.sidul {
    list-style: none;
    padding: 0;
}

.sidul li::before {
    content: "\2022"; 
    color: var(--color-pinky);  
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -5px; 
}

.sidul li {
    text-align: start;
    font-weight: 500;
    padding: 3px;
    transition: color 0.2s ease;
}

.sidul li:hover {
    color: var(--color-pinky);
}


/* mobile */

.sidcontainerMobileSideMenu {
    position: absolute;
    height: max-content;
    z-index: 10;
    top: 15px;
    left: 20px;
    color: var(--color-primary);
}

.sidmobileSideMenu {
    position: absolute;
    left: -50px;
    cursor: pointer;


    background-color: var(--color-fifth);
    padding-left: 50px;
    border-radius: 10px;
}

.sidtitleMobileSideMenu {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
}

.sidtitleMobileSideMenu h4 {
    margin: auto 0px;
    padding-right: 10px;
}

.sidtitleMobileSideMenu button {
    color: var(--color-primary);
    padding-left: 120px;
    background-color: var(--color-fifth);
    border: none;
    height: 30px;
    position: absolute;
    z-index: -1;
    transition: transform .3s ease;
    border-radius:  0 10px 0 0;
}

.sidmobileSideMenu li {
    font-size:  small;
}

/* delete mobile sidemenu when desktop */
.sidcontainerMobileSideMenu {
    visibility: hidden;
}


@media only screen and (max-width: 768px) {
    .sidcontainerMobileSideMenu {
        visibility: visible;
    }

    .sidsideMenu {
        position: absolute;
        width: 0;
        padding: 0;
    }

    .sidul {
        margin: 0;
        position: absolute;
        top: 26px;
        left: -100px;
        padding: 5px 30px 5px 100px;
        background-color: var(--color-fifth);
        margin: 2px;

        width: max-content;
        transition: transform .3s ease;
        border-radius:  0 10px 10px 0;
    }
}

@media only screen and (max-width: 340px) {
    .sidcontainerMobileSideMenu {
    left: 5px;
    }
}