.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: top 0.3s;
}

.nav {
    background-color: #0A0A0A;
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #686868;
}

.ul {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 32px;
}

.navbarText {
    margin: 0 10px;
}

.searcher {
    position: absolute;
    z-index: 98;
    transition: top 0.2s;
}

.containerLupaImage {
    margin-right: 7px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
}

.containerCartImage{
    margin-left: 5px;
    position: relative;
    width: 40px;
    height: 40px;
}


.containerBurgerImage {
    display: none;
}

.containerCartDot {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    right: 23px;

    color: green;
    background-color: white;
    font-weight: 600;

    width: 20px;
    height: 20px;
    z-index: 10;
    
    border-radius: 100%;
    border: 1px solid black
}

.cartImage{
    filter: invert(100%);
}

.BurgerMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconPlusText {
    display: inline-flex;
    align-items: center;
    padding: 10px 2px;
    gap: 10px;
    max-width: max-content;
}

.containers {
    position: relative;
    width: 30px;
    height: 30px;
}

.derechosMenu {
    display: flex;
    font-size: 10px;
    border-top: 1px solid #686868;
    width: 100%;
    justify-content: center;
}


@media only screen and (max-width: 768px) {

    .containerBurgerImage {
        display: inherit;
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;
        filter: invert(100%);
    }
    
    .containerLupaImage {
        margin: 0;
    }

    .containerCartImage{
        margin: 0;
        margin-left: 2px;
    }

    .containerBurgerImage {
        margin: 0;
    }

    .ul {
        width: 150px;
    }

    .BurgerMenuContainer {
        position: absolute;
        width: 400px;
        height: 80vh;
        height: calc(100vh - 110px);
        top: 110px;
        right: -400px;
        background-color: #0A0A0A;
        border-top: 2px solid #686868;

        transition: right 0.4s ease;
    }

    .BurgerMenuContainer ul {
    list-style: none;
    }

    .BurgerMenuContainer ul li {
        padding: 8px;
    }
}