.navBheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: top 0.3s;
}

.navBnav {
    background-color: #e1e1e1;
    display: flex;
    padding: 0px 5%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--color-pinky);
    transition: border-color 0.5s ease;
}

.navBlogo {
    position: relative;
    height: 90px;
    width: 180px;
    /* transform: scale(1.2); */
}

.navBul {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.navBul li {
    margin: 0px 10px;
}

.navBnavbarText {
    position: relative;  
    color: var(--color-fifth);
    font-weight: 600;
}

.navBnavbarText a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0px;
    height: 2px;
    background-color: var(--color-pinky);
    transition: width 0.3s ease;
    transform: translateX(-50%);
    transform-origin: left;
}

.navBnavbarText a:hover::after {
  width: 101%;
}

.navBnavbarTextActive a::after {
    width: 101%;
}

.navBsearcher {
    position: absolute;
    z-index: 98;
    transition: top 0.2s;
}

.navBcontainerLupaImage {
    margin-right: 7px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px !important; 
    margin-right: 8px !important;  
    transform: scale(1);
    transition: transform 0.3s ease; 
}

.navBcontainerLupaImage:hover {
    transform: scale(1.05);
}

.navBcontainerCartImage {
    margin-left: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px !important;
    margin-left: 5px !important;
    transform: scale(1);
    transition: transform 0.3s ease; 
}


.navBcontainerCartImage:hover {
    transform: scale(1.05);
}


.navBcontainerBurgerImage {
    display: none;
}

.navBcontainerCartDot {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    right: 23px;

    color: var(--color-pinky);
    background-color: var(--color-primary);
    font-weight: 600;

    width: 20px;
    height: 20px;
    z-index: 10;
    
    border-radius: 100%;
    border: 1px solid var(--color-pinky)
}

.navBcartImage{
    /* filter: invert(100%); */
}

.navBBurgerMenuContainer {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.navBiconPlusText {
    display: inline-flex;
    align-items: center;
    padding: 10px 2px;
    gap: 10px;
    max-width: max-content;
}

.navBcontainers {
    position: relative;
    width: 30px;
    height: 30px;
}

.navBderechosMenu {
    display: flex;
    font-size: 10px;
    border-top: 1px solid var(--color-fourth);
    width: 100%;
    justify-content: center;
}

/* fondo transparente cuando el menu esta abierto */

.navBbackgroundTransparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

@media only screen and (max-width: 768px) {

    .navBcontainerBurgerImage {
        display: inherit;
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;
        /* filter: invert(100%); */
        transform: scale(1);
        transition: transform 0.3s ease; 
    }

    .navBcontainerBurgerImage:hover {
        transform: scale(1.05);
    }
    
    .navBcontainerLupaImage {
        margin: 0;
    }

    .navBcontainerCartImage{
        margin: 0;
        margin-left: 2px;
    }

    .navBcontainerBurgerImage {
        margin: 0;
    }

    .navBul {
        width: 150px;
    }

    .navBBurgerMenuContainer {
        display: inherit;
        position: absolute;
        max-width: 400px;
        min-width: 200px;
        height: 80vh;
        height: calc(100vh - 90px);
        top: 90px;
        right: -400px;
        background-color: var(--color-primary);
        border-top: 1px solid var(--color-pinky);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transition: right 0.4s ease;
    }

    .navBBurgerMenuContainer ul {
        list-style: none;
        padding-left: 25px;
        margin-top: 10px;
    }

    .navBBurgerMenuContainer ul li {
        font-weight: 500;
        padding: 8px;
    }

    .navBNavigationLinks {
        padding-top: 15px;
    }

    .navBNavigationLinks li::before {
        content: "\2022"; 
        color: var(--color-pinky);  
        font-weight: 1000;
        display: inline-block;
        width: 1em;
        margin-left: 3px; 
    } 
}

@media only screen and (max-width: 370px) {
    .navBnav {
        padding: 0px 5px;
    }
    .navBlogo {
        position: relative;
        height: 80px;
        width: 160px;
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 330px) {
    .navBnav {
        padding-left: 1px;
        padding-right: 3px;
    }
}