.searsearcher {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--color-fifth);
    padding: 5px 0px;
    border-bottom: 2px solid var(--color-fourth);
    
}

.searinput {
    border: 0;
    box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 8px;
    width: 50%;
    outline: none;
    background-color: var(--color-secondary);
}

@media only screen and (max-width: 1100px) {
    .searinput {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .searinput {
        width: 90%;
    }
}


