html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 300px;
}

:root {
  --color-primary: #3c3c3c;
  --color-secondary: #666;
  --color-third: #666;
  --color-fourth: #666;
}

@media only screen and (max-width: 625px) {
  body {
    margin-bottom: 500px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    margin-bottom: 600px;
  }
}

body::-webkit-scrollbar {
  /* edit scrollbar */
}

a {
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) { */
  html {
    color-scheme: dark;
  }
/* } */


/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */